## Portainer populates the placeholder (stack.env) automatically with configured stack Environment Variables.
## Contents can be copied into from this file in Adv mode or just upload it to stack config.

LETTA_PG_USER=letta
LETTA_PG_PASSWORD=letta
LETTA_PG_DB=letta
## LLM Model
LETTA_LLM_ENDPOINT_TYPE=openai
LETTA_LLM_MODEL=gpt-4o-mini
## Embeddings
LETTA_EMBEDDING_ENDPOINT_TYPE=openai
LETTA_EMBEDDING_MODEL=text-embedding-ada-002
# OpenAI API Keys
ENV_OPENAI_API_KEY=#### Secrets😘 ###