## Portainer creates this (non .example) automatically but contents can be copiedinto Adv mode or upload this file to stack config

LETTA_PG_USER=letta
LETTA_PG_PASSWORD=letta
LETTA_PG_DB=letta
## LLM Model
LETTA_LLM_ENDPOINT_TYPE=openai
LETTA_LLM_MODEL=gpt-4o-mini
## Embeddings
LETTA_EMBEDDING_ENDPOINT_TYPE=openai
LETTA_EMBEDDING_MODEL=text-embedding-ada-002
# OpenAI API Keys
ENV_OPENAI_API_KEY=#### Secrets😘 ###